/* Color Pallet */
:root {
    --main-color: #c8a97e;
    --primary-color: #fff;
    --secondary-color: #000;
}


html{
    overflow-x: hidden ;
}

body {
    background-color: var(--secondary-color) !important;
}

/* Nav Bar Styles starts here */
.ftco-navbar-light {
    background-color: transparent !important;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
}

.ftco-navbar-light .navbar-brand {
    color: var(--primary-color);
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
    color: var(--primary-color);
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px;
    padding: 0.8rem 20px;
    color: var(--primary-color) !important;
    opacity: 1 !important;
    text-decoration: none;
    font-weight: 400;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: var(--primary-color);
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    background-color: var(--main-color);
    color: var(--primary-color);
    border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: var(--main-color)  !important;
}

/* Style for the scroll effect */
.ftco-navbar-light.scrolled .nav-item.active > a {
    color: var(--main-color)  !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a {
    color: var(--primary-color);
    background-color: var(--main-color);
    border: none !important;
    border-radius: 0;
}

.ftco-navbar-light.scrolled .nav-item.cta > a span {
    display: inline-block;
    color: var(--primary-color);
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color: var(--main-color);
}

.ftco-navbar-light.scrolled .nav-link {
    padding: 0.7rem 0 !important;
    color: var(--secondary-color) !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
    color: var(--main-color) !important;
}

.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    transition: all 0.3s ease-out;
}

.ftco-navbar-light.scrolled.sleep {
    transition: all 0.3s ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
    color: var(--secondary-color);
}

.navbar-brand {
    font-size: 20px;
    font-weight: 900;
}
/* Nav Bar Styles ends here */

/* Slider (carousel) Styles starts here */
.owl-carousel {
    position: relative;
  }
  .owl-carousel .owl-item {
    opacity: 0.4;
  }
  
  .owl-carousel .owl-item.active {
    opacity: 1;
  }
  
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
    margin-top: -10px;
    color: var(--main-color) !important;
    transition: all 0.7s ease;
    opacity: 0;
  }
  
  .owl-carousel .owl-nav .owl-prev span::before,
  .owl-carousel .owl-nav .owl-next span::before {
    font-size: 30px;
  }
  
  .owl-carousel .owl-nav .owl-prev {
    left: 0;
  }
  .owl-carousel .owl-nav .owl-next {
    right: 0;
  }
  
  .owl-carousel:hover .owl-nav .owl-prev,
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }
  
  .owl-carousel:hover .owl-nav .owl-prev {
    left: -25px;
  }
  .owl-carousel:hover .owl-nav .owl-next {
    right: -25px;
  }
  
  .owl-carousel.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;
  }
  
  .owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    /* .owl-carousel.home-slider .slider-item .overlay*/
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: soft-light;
  }
  
  .owl-carousel.home-slider .slider-item .slider-text {
    color: var(--primary-color);
    height: 750px;
    text-align: right;
  }
  
  .owl-carousel.home-slider .slider-item .slider-text .sub-heading {
    font-size: 80px;
    color: var(--main-color);
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1;
    font-family: "Great Vibes", cursive;
  }
  
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 60px;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.5;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Poppins", cursive;
  }
  
  .owl-carousel.home-slider .owl-nav .owl-prev span,
  .owl-carousel.home-slider .owl-nav .owl-next span {
    color: var(--primary-color);
  }
  
  .owl-carousel.home-slider:hover .owl-nav .owl-prev span,
  .owl-carousel.home-slider:hover .owl-nav .owl-next span {
    opacity: 1;
  }
  
  .owl-carousel.home-slider:hover .owl-nav .owl-prev {
    left: 20px;
  }
  
  .owl-carousel.home-slider:hover .owl-nav .owl-next {
    right: 20px;
  }
  
  .owl-custom-nav {
    float: right;
    position: relative;
    z-index: 10;
  }
  
  .owl-custom-nav .owl-custom-prev,
  .owl-custom-nav .owl-custom-nav {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block;
  }
  
/* Slider (carousel) Styles ends here */

/* Slider featured Styles starts here */
.featured {
  padding-top: 30px;
  width: 100%;
  margin-top: -230px;
  border-top: 1px solid rgba(225, 225, 225, 0.2);
}

.featured .featured-menus {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.featured .featured-menus .text { 
  width: 100%;
}

.featured .featured-menus .text h3 { 
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--primary-color);
}

.featured .featured-menus .text p {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.781);
}

.featured .featured-menus  .menu-img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Slider featured Styles ends here */
